<div class="container">
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<div class="text-center">
<div class="card" style="width: 30rem">
  <img class="card-img" src="./assets/img/ipatimup.png" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">Backoffice para a APP</h5>
    <ul style="list-style-type: none">
      <li><a routerLink="/lab">Informações sobre o Laboratório</a></li>
      <li><a routerLink="/man">Manuais</a></li>
      <li><a routerLink="/servicos">Lista do serviços prestados</a></li>
      <li><a routerLink="/sobre">Informações sobre o Ipatimup</a></li>
      <li><a routerLink="/cons">Informações sobre o tipos de consultas </a></li>
      <li><a routerLink="/util">Tipos de utilizadores</a></li>
  </ul>
  </div>
</div>
</div>
</div>
