<div class="container">
<p>&nbsp;</p>

<h3>Backoffice para a APP do Ipatimup</h3>
<p>
  Aqui poderá fazer a manutenção da informação da APP.
</p>
<ul>
    <li><a routerLink="/lab">Informações sobre o Laboratório</a></li>
    <li><a routerLink="/man">Manuais</a></li>
    <li><a routerLink="/servicos">Lista do serviços prestados</a></li>
    <li><a routerLink="/sobre">Informações sobre o Ipatimup</a></li>
    <li><a routerLink="/cons">Informações sobre o tipos de consultas </a></li>
    <li><a routerLink="/util">Tipos de utilizadores</a></li>
</ul>
</div>
